@{
    ViewData["Title"] = "MovieEdit";
}
    <form class="container bg-dark m-5 pt-2 pb-5 pr-5 pl-5 club-wrappers-radius" style="opacity: 0.9; color: white;" asp-action="CinemaCreate" asp-controller="AdminTables" enctype="multipart/form-data">
        <div class="row">
            <div class="col-7">
                <h1>Create a cinema</h1>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Cinema name</label>
                    <input name="CinemaName" class="form-control">
                    <span id="clubName-clubAdmins-mistake" class="text-danger" style="display: none;">Please insert some text in the input</span>
                </div>

                <div class="form-group">
                    <label class="control-label">City</label>
                    <input name="city" class="form-control">
                    <span id="clubName-clubAdmins-mistake" class="text-danger" style="display: none;">Please insert some text in the input</span>
                </div>

                <div class="form-group">
                    <label class="control-label" style="justify-content: flex-start; display: flex;">Address</label>
                    <input name="Address"  class="form-control">
                    <span id="clubName-clubAdmins-mistake" class="text-danger" style="display: none;">Please insert some text in the input</span>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 100%;" type="submit">
                    Save
                </button>
            </div>
    </form>

