@model CinemaLocationsAndTechnologyViewModel
@{
    ViewData["Title"] = "CinemaHallCreate";
}

<form onsubmit="return isValidCreateCinemaHall()" class="container bg-dark m-5 pt-2 pb-5 pr-5 pl-5 club-wrappers-radius" style="opacity: 0.9; color: white;" asp-action="CinemaHallCreate" asp-controller="AdminTables" enctype="multipart/form-data">
    <div class="row">
        <div class="col-7">
            <h1>Create a cinema hall</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Cinema hall name</label>
                <input id="CreateCinemaHallName" name="Name" class="form-control">
            </div>
            <label style="display:none; text-align: right; color: sandybrown;" id="CreateCinemaHallNameMistake">This field should not be empty</label>


            <div class="form-group">
                <label class="control-label">Rows count</label>
                <input id="CreateCinemaHallRows" name="Rows" class="form-control">
            </div>
            <label style="display:none; text-align: right; color: sandybrown;" id="CreateCinemaHallRowsMistake">This field should not be empty</label>
            <label style="display:none; text-align: right; color: sandybrown;" id="CreateCinemaHallRowsMistake2">This field should contain only numbers</label>


            <div class="form-group">
                <label class="control-label" style="justify-content: flex-start; display: flex;">Seats count</label>
                <input id="CreateCinemaHallSeats" name="Seats" class="form-control">
            </div>
            <label style="display:none; text-align: right; color: sandybrown;" id="CreateCinemaHallSeatsMistake">This field should not be empty</label>
            <label style="display:none; text-align: right; color: sandybrown;" id="CreateCinemaHallSeatsMistake2">This field should contain only numbers</label>


            <label class="control-label">Technology</label>
            <select id="typeSelect" name="Technology" class="form-control">
                @foreach (var type in Model.technologies)
                {
                    <option value="@type.Id">@type.TechnologyName</option>
                }
            </select>
            <br />
            <label class="control-label">Cinema</label>
            <select id="typeSelect" name="Cinema" class="form-control">
                @foreach (var type in Model.cinemaLocations)
                {
                    <option value="@type.Id">@type.CinemaName</option>
                }
            </select>
            <br />
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 100%;" type="submit">
                Save
            </button>
        </div>
</form>

