@{
    ViewData["Title"] = "MovieEdit";
}
    <form onsubmit="return isValidCreateCinema()" class="container bg-dark m-5 pt-2 pb-5 pr-5 pl-5 club-wrappers-radius" style="opacity: 0.9; color: white;" asp-action="CinemaCreate" asp-controller="AdminTables" enctype="multipart/form-data">
        <div class="row">
            <div class="col-7">
                <h1>Create a cinema</h1>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Cinema name</label>
                    <input id="CinemaCreateCinemaName" name="CinemaName" class="form-control">
                </div>
                <label style="display:none; text-align: right; color: sandybrown;" id="CinemaCreateCinemaNameMistake">This field should not be empty</label>


                <div class="form-group">
                    <label class="control-label">City</label>
                    <input id="CinemaCreateCity" name="city" class="form-control">
                </div>
                <label style="display:none; text-align: right; color: sandybrown;" id="CinemaCreateCityMistake">This field should not be empty</label>
                <label style="display:none; text-align: right; color: sandybrown;" id="CinemaCreateCityMistake2">This field should contain only letters</label>


                <div class="form-group">
                    <label class="control-label" style="justify-content: flex-start; display: flex;">Address</label>
                    <input id="CinemaCreateAddress" name="Address" class="form-control">
                </div>
                <label style="display:none; text-align: right; color: sandybrown;" id="CinemaCreateAddressMistake">This field should not be empty</label>

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 100%;" type="submit">
                    Save
                </button>
            </div>
    </form>

