@model CinemaLocationAndFoodProductViewModel
@{
    ViewData["Title"] = "MovieEdit";
}
<form class="container bg-dark m-5 pt-2 pb-5 pr-5 pl-5 club-wrappers-radius" style="opacity: 0.9; color: white;" asp-action="FoodAmountCreate" asp-controller="AdminTables" enctype="multipart/form-data">
    <div class="row">
        <div class="col-7">
            <h1>Create a food amount in a cinema</h1>
            <div asp-validation-summary="All" class="text-danger"></div>

            <label class="control-label">Cinema</label>
            <select id="typeSelect" name="CinemaLocation" class="form-control">
                @foreach (var type in Model.cinemaLocations)
                {
                    <option value="@type.Id">@type.CinemaName</option>
                }
            </select>
            <br />
            <label class="control-label">Food product</label>
            <select id="typeSelect" name="FoodProductId" class="form-control">
                @foreach (var type in Model.foodProducts)
                {
                    <option value="@type.Id">@type.ProductName</option>
                }
            </select>
            <br />
            <div class="form-group">
                <label class="control-label" style="display:flex; justify-content: flex-start;">Amount of product in the location</label>
                <input type="text" name="Amount" class="form-control"/>
                <span id="clubName-clubAdmins-mistake" class="text-danger" style="display: none;">Please insert some text in the input</span>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 100%;" type="submit">
                Save
            </button>
        </div>
    </div>
</form>

