@{
    ViewData["Title"] = "Home Page";
}
<style>
    .text-color-white {
        color: white;
    }
</style>
<div class="text-center text-color-white bg-dark" style="opacity: 0.9;">
    <h1 class="display-4">Welcome</h1>
    <p>to the workers base of "Cinema corporation". Please, log in for more functionality.</p>
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Login
    </a>
</div>
