@model PositionsViewModel
@{
    ViewData["Title"] = "Register";
    var returnUrl = Context.Request.Query["returnurl"];
}


<form onsubmit="return isValidRegister()" class="container bg-dark m-5 pt-2 pb-5 pr-5 pl-5 club-wrappers-radius" style="flex-direction: column; opacity: 90%; color: white;" asp-controller="Account" asp-action="Register" method="post" asp-route-returnurl="@returnUrl">
    <div style="display: flex; flex-direction: column; align-self: stretch; width: 50%;     margin: 0 auto;">
        <h1>Register worker</h1>

        <div style="display: flex; flex-direction:row; justify-content: space-between;">
            <label class="control-label">Login</label>
            <input id="loginReg" type="text" name="username" value="" style="flex-basis: 50%;" />
        </div>
        <label style="display:none; text-align: right; color: sandybrown;" id="loginRegMistake">This field should not be empty</label>

        <br />
        <div style="display: flex; flex-direction:row; justify-content: space-between;">
            <label class="control-label">Password</label>
            <input id="passportReg" type="password" name="password" value="" style="flex-basis: 50%;" />
        </div>
        <label style="display:none; text-align: right; color: sandybrown;" id="passportRegMistake">This field should not be empty</label>

        <br />
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <label class="control-label">Name</label>
            <input id="nameReg" type="text" name="Name" value="" style="flex-basis: 50%;" />
        </div>
        <label style="display:none; text-align: right; color: sandybrown;" id="nameRegMistake">This field should not be empty</label>
        <label style="display:none; text-align: right; color: sandybrown;" id="nameRegMistake2">This field should contains only numbers</label>

        <br />
        <div style="display: flex; flex-direction:row; justify-content: space-between;">
            <label class="control-label">Surname</label>
            <input id="surnameReg" type="text" name="Surname" value="" style="flex-basis: 50%;" />
        </div>
        <label style="display:none; text-align: right; color: sandybrown;" id="surnameRegMistake">This field should not be empty</label>
        <label style="display:none; text-align: right; color: sandybrown;" id="surnameRegMistake2">This field should contains only numbers</label>

        <br />
        <div style="display: flex; flex-direction:row; justify-content: space-between;">
            <label class="control-label">Fathername</label>
            <input id="fathernameReg" type="text" name="Fathername" value="" style="flex-basis: 50%;" />
        </div>
        <label style="display:none; text-align: right; color: sandybrown;" id="fathernameRegMistake">This field should not be empty</label>
        <label style="display:none; text-align: right; color: sandybrown;" id="fathernameRegMistake2">This field should contains only numbers</label>

        <br />
        <div style="display: flex; flex-direction:row; justify-content: space-between;">
            <label class="control-label">Passport data</label>

            <input id="passportReg" type="text" name="PassportData" value="" style="flex-basis: 50%;" />
        </div>
        <label style="display:none; text-align: right; color: sandybrown;" id="passportRegMistake">This field should not be empty</label>
        <label style="display:none; text-align: right; color: sandybrown;" id="passportRegMistake2">Passport data has a wrong format. It should contain 2 letters and 6 numbers</label>

        <br />
        <label class="control-label">Choose position</label>
        <select id="typeSelect" name="typeSelect" class="form-control">
            @foreach (var type in Model.positions)
            {
                <option value="@type.Id">@type.PositionName</option>
            }
        </select>
        <br />
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 100%;">
            Register
        </button>
    </div>
</form>

